{% extends "castlight_base.html" %}

{% block manage_keypairs_content %}
<div class="content-holder">
    <div class="">
    <h1 class="section-title">Keypairs</h1>
    </div>
    <div class="">
        <button type="submit" style="margin-left:850px "id="create_keypair_button" class="btn btn-primary custom-button">Create Keypair</button>
        <button type="submit" id="import_keypair_button" class="btn btn-danger custom-button pull-right">Import Keypair</button>
    </div>
    <div class="table-responsive keypair-content-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Fingerprint</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for keypair in keypair_list %}
                <tr class="success" keyname="{{keypair.name}}">
                    <td>{{keypair.name}}</td>
                    <td>{{keypair.fingerprint}}</td>
                    <td >
                        {% load staticfiles %}
                        <a data-action="delete"><img src='{%static "castlight/img/delete.png" %}' alt="" width="18"align="left" title="Delete" /></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <nav class="pull-left">
                            <ul class="pagination">
                                {% if keypair_list.has_previous %}
                                <li>
                                <a href="?page={{ keypair_list.previous_page_number }}">Previous</a>
                                </li>
                                {% endif %}
                                {% for num in keypair_list.paginator.page_range %}
                                
                                {% ifequal num keypair_list.number %}
                                    <li class="active">
                                    <span class="current"><b>{{ num }}</b></span>
                                    </li>
                                {% else %}
                                    <li>
                                    <a href="?page={{ num }}"> {{ num }}</a>
                                    </li>
                                {% endifequal %}
                                
                                {% endfor %}
                                {% if keypair_list.has_next %}
                                <li>
                                    <a href="?page={{ keypair_list.next_page_number }}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>  
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="createNovaKeypairModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Keypair</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="create_nova_keypair_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="section" class="col-sm-3 control-label" required>Keypair Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="keyname" name="keyname" required> 
                        </div>
                    </div>                    
                    <div class="form-group" style="padding-left: 160px;">
                        <button type="submit" class="btn btn-warning" id="submit_button" alight="center">Create</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<div id="createKeypairModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Keypair</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="create_keypair_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="section" class="col-sm-3 control-label">Keypair Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="kname" name="kname" required> 
                        </div>
                    </div> 
                    <div class="form-group">
                        <lablel for="section" class="col-sm-3 control-label">Public Key</lablel>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="15" id="publickkey" name="publickey"></textarea>
                        </div>
                    </div>                   
                    <div class="form-group" style="padding-left: 160px;">
                        <button type="submit" class="btn btn-warning" id="submit_button" alight="center">Create</button>
                        <button type="button" class="btn btn-default btn-sm"
                        data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}